<!--
Error
-->
  <ion-modal-view view-title="Error">
    <ion-header-bar>
      <div class="ion-bug"></span></div>
      <h1 class="title">ERROR!</h1>
      <div class="button button-clear" ng-click="closeModal()" href="#/login"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content class="center">
      <p>Ha ocurrido un error</p> 
      <p>({{error}})</p>
      <p/>
      <a class="button icon ion-home center" ng-click="closeModal()" href="#/login">Volver</a>
    </ion-content>
  </ion-modal-view>

