<!--
{
        "idalumno": "1",
        "cod_asignatura": "27700",
        "convocatoria": "JUN2016",
        "nota": "5.0",
        "curso": "Curso 1",
        "nombre": "Formación histórica del Derecho en España",
        "tipo": "FB",
        "creditos": "6.0",
        "temporalidad": "1"
    }
-->
<ion-view view-title="Expediente">
  <ion-content>
    <ion-list can-swipe="listCanSwipe">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="x in asignaturas" type="item-text-wrap" href="#/tab/asignatura/{{x.cod_asignatura}}">
        <h2>{{x.cod_asignatura}}</h2>
        <h2>{{x.nombre}}</h2>
        <p>{{x.curso}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(x)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-scroll>
  </ion-content>
</ion-view>
