<ion-view view-title="Avisos">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Última hora</div>
      <div class="item item-body">
        <div>
          Sangriada en <b>Montes</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Salud</div>
      <div class="item item-body">
        <div>
          Que viene el frío!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Estudios</div>
      <div class="item item-body">
        <div>
          Te quedan <b>29</b> créditos por aprobar.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
